/* styles.css */

:root {
    --primary-color: #1d78be;
    --secondary-color: #ffbd1a;
    --dark-color: #333333;
}

body {
    font-family: Arial,"Lexend Deca","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: var(--bs-gray-100);
    color: var(--bs-black);
    margin: 0;
    padding: 0;
}

.wrapper{
    background-color: var(--bs-white);
}

h2 {
    color: var(--primary-color);
    font-weight: 700;
}


a {
    color: var(--dark-color);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}


.btn.btn-primary {
    background-color: var(--secondary-color);
    color: var(--bs-black);
    padding: 10px 10px;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: darken(var(--secondary-color), 10%);
    }
}

/** NAV ****/

nav.bg-body-tertiary {
    --bs-bg-opacity: 0 !important;
    background-color: var(--bs-white) !important;
}