/* styles.css */

:root {
    --background-color: black;
    --primary-color: #1d78be;
    --secondary-color: #ffbd1a;
    --light-color: white;
    --dark-color: #333333;
}


body {
    font-family: "Lexend Deca","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: var(--light-color);
    color: var(--dark-color);
    margin: 0;
    padding: 0;
}


h1 {
    color: var(--primary-color);
}


a {
    color: var(--dark-color);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}


.button {
    background-color: var(--secondary-color);
    color: var(--light-color);
    padding: 10px 20px;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: darken(var(--secondary-color), 10%);
    }
}