/* styles.css */

:root {
    --primary-color: #1d78be;
    --secondary-color: #ffbd1a;
    --dark-color: #333333;
}

body {
    font-family: Arial,"Lexend Deca","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: var(--bs-gray-100);
    color: var(--bs-black);
    margin: 0;
    padding: 0;
}

.wrapper{
    background-color: var(--bs-white);
    min-height: 1000px;
}

h2 {
    color: var(--primary-color);
    font-weight: 700;
}

h3{
    color: var(--primary-color) !important;
}

h4{
    font-size: 1rem;
}

a {
    color: var(--base0C) !important;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

textarea {
    width: 100%; 
    box-sizing: border-box; 
}


.btn.btn-primary {
    background-color: var(--secondary-color);
    color: var(--bs-black);
    padding: 10px 10px;
    border: none;
    cursor: pointer;
/*
    &:hover {
        background-color: darken(var(--secondary-color), 10%);
    }
*/
}

.lista-footer li{
    display: inline;
    margin-right: 10px;
}

.btn.btn-secondary{
    background-color: var(--secondary-color);
    color: var(--bs-black);
    padding: 10px 10px;
    border: none;
    cursor: pointer;
}

button.btn.btn-outline-secondary {
    background-color: var(--secondary-color);
    border: none;
    color: var(--bs-black);
}

.btn.btn-danger{
    color: var(--bs-black);
    padding: 10px 10px;
    border: none;
    cursor: pointer;
}

/** NAV ****/

nav.bg-body-tertiary {
    --bs-bg-opacity: 0 !important;
    background-color: var(--bs-white) !important;
}

/*** CATEGORIAS *****************/
.categorias .bi{
    color: var(--primary-color);
    font-size: 4em;
}

.categorias .card{
    border-radius: 1rem !important;
}
/* Fondo de categorías */
.categorias .bg-body-secondary {
    background-color: var(--secondary-color);
    border-radius: 1rem 1rem 0 0;
  }

  .categorias .card-text {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
  }


  /********** BUSQUEDA ***************/

  .busqueda label{
    font-weight: 700;
  }

  .busqueda ::placeholder{
    font-style: italic;
    color: var(--bs-gray-400);
  }

  #buscar{
    width: 100%;
  }

  /*********** LOGIN *************/

  a.nav-link.active {
    color: inherit;
}
  .nav.users .bi{
    color: var(--secondary-color) !important;
    font-size: 30px !important;
  }
  
  /*********** PROCESO DE PAGO *************/

/* Estilo para la etiqueta del campo de tarjeta de crédito */
.stripe-label {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

/* Estilo para el contenedor del campo de tarjeta de crédito */
.stripe-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

/* Estilo para los errores de Stripe */
.stripe-errors {
    color: #dc3545;  /* Color de error de Bootstrap por defecto */
    font-size: 14px;
    margin-top: 5px;
}
