{% extends 'base.html' %}

{% block title %}Dirección de envío del pedido{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Envío</title>
</head>
<body>
    <h2>Formulario de Envío</h2>
    <div class="formulario-envio border p-3">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="post" action="{% url 'procesar_pedido' %}">
        {% csrf_token %}

        Seleccione el método de pago:
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="formaPago" value = "{{formaPago}}">
            {% if formaPago == 'pasarela' %}
            <option value="contrarrempolso">Contrareembolso</option>
            <option value="pasarela" selected>Pago online con tarjeta de crédito</option>
            {% else %}
            <option value="contrarrempolso" selected>Contrareembolso</option>
            <option value="pasarela">Pago online con tarjeta de crédito</option>
            {% endif %}
          </select>
        <br>
        {% if user.is_authenticated %}
        <input type="hidden" name="destinatario" required value = "{{destinatario}}"></p>
        <input type="hidden" name="email" required value = "{{email}}"></p>
        <p><label for="direccion">Dirección de Envío:</label>
        <input type="text" name="direccion" required value = "{{direccion}}"></p>
        <p><label for="ciudad">Ciudad:</label>
        <input type="text" name="ciudad" required value = "{{ciudad}}"></p>
        <p><label for="postal">Código postal:</label>
        <input type="number" name="postal" required value = "{{postal}}"></p>
        {% else %}
        <p><label for="destinatario">Destinatario:</label>
        <input type="text" name="destinatario" required value = "{{destinatario}}"></p>
        <p><label for="direccion">Dirección de Envío:</label>
            <input type="text" name="direccion" required value = "{{direccion}}"></p>

            <p><label for="ciudad">Ciudad:</label>
            <input type="text" name="ciudad" required value = "{{ciudad}}"></p>

            <p><label for="postal">Código postal:</label>
            <input type="number" name="postal" required value = "{{postal}}"></p>
        {% endif %}

        {% if user.is_authenticated %}
        <input type="hidden" name="email" required value = "{{email}}"></p>
        {% else %}
        <p><label for="email">Email:</label>
            <input type="email" name="email" required value = "{{email}}"></p>
        {% endif %}

        <p><input name="pedido_id" type="hidden" value="{{pedido_id}}" /></p>



        <button class="btn btn-secondary" type="submit">Continuar</button>
    </form>
</div>

</body>

{% endblock %}
