<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Envío</title>
</head>
<body>
    <h2>Formulario de Envío</h2>

    <form method="post" action="{% url 'procesar_pedido' %}">
        {% csrf_token %}
        
        <!-- Campos del formulario -->
        <input type="hidden" name="id_transaccion" value="{{ id_transaccion }}">

        <input type="hidden" name="completado" value="true">
        
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="direccion">Dirección de Envío:</label>
        <input type="text" id="direccion" name="direccion" required>

        <!-- Otros campos del formulario -->

        <button type="submit">Enviar Pedido</button>
    </form>

    <!-- Puedes agregar más contenido HTML según sea necesario -->

<!-- Agrega este script después del formulario -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var formulario = document.querySelector('form');

        formulario.addEventListener('submit', function() {
            // Puedes agregar aquí cualquier lógica de validación antes de enviar el formulario

            // Después de enviar el formulario, redirigir a home.html
            window.location.href = '{% url "home" %}';
        });
    });
</script>



</body>
</html>
