{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Envío</title>
</head>
<body>
    <h2>Formulario de Envío</h2>

    <form method="post" action="{% url 'procesar_pedido' %}">
        {% csrf_token %}
        
        <!-- Campos del formulario -->
        <label for="idT">ID Transacción:</label>
        <input type="text" name="id_transaccion" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <br>
        <label for="direccion">Dirección de Envío:</label>
        <input type="text" name="direccion" required>
        <br>
        <label for="ciudad">Ciudad:</label>
        <input type="text" name="ciudad" required>
        <br>
        <label for="postal">Código postal:</label>
        <input type="text" name="postal" required>
        <br>
        <!-- Otros campos del formulario -->

        <button type="submit">Completar Pedido</button>
    </form>

    <!-- Puedes agregar más contenido HTML según sea necesario -->

<!-- Agrega este script después del formulario -->

</body>

{% endblock %}
