{% extends "base.html" %}

{% block title %}Catálogo de Productos{% endblock %}

{% block content %}

<h2>PEDIDOS REALIZADOS</h2>

<div class="pedidos-realizados row">


{% include 'message.html' %}   

{% if not user.is_authenticated %}
<div class="row border p-3 ">
<form role="search" method="get" action="{% url 'seguimiento' %}" >
  <div class="col-12 mb-3">
    <label for="search">Introduce tu número de pedido:</label>
  </div>
  <div class="col-12">
    <input class="form-control mb-3" type="text" name="idPedido" id="search">
    <button class="btn btn-secondary" type="submit">Buscar</button>
  </div>
</form>
</div>
{% endif %}
  {% for pedido in pedidos %}
  <div class="border p-3 mb-5">
  <div class="border row p-3 fw-bold bg-body-secondary mb-3">
    <div class="col-3">Fecha: {{ pedido.fecha_pedido|date:"d/m/Y" }}</div>
    <div class="col-3">Estado: {{ pedido.get_estado }}</div>
    <div class="col-3">Total: {{ pedido.get_total_carrito }} €</div>
    <div class="col-3">
      {% if user.is_authenticated %}
        <a class="btn btn-secondary" href="{% url 'agregar_reclamacion' pedido.id %}">Crear reclamación</a>
      {% endif %}
    </div>
  </div> 
  <div class="row">
  <table class="table col-12">    
    <tr>
      <th>Producto</th>
      <th>Unidades</th>
      <th>Precio</th>
    </tr>
            {% for item in pedido.get_lista_de_productos_carrito %}
            <tr>
                <td>{{ item.producto.nombre }}</td>
                <td>{{ item.cantidad }}</td>
                <td>{{ item.get_total }} €</td>
            </tr>
            {% endfor %}
     
      </table>        
         
        </div>
      </div>
  {% endfor %}
      
</div>


{% endblock %}