{% extends "base.html" %}

{% block title %}Quienes somos{% endblock %}

{% block content %}

<h2>QUIENES SOMOS</h2>

<div class="row">
    <div class="col-12">
        <p><strong>Bienvenidos a EtsiiMarkt! </strong></p>
        <p>Nos enorgullece ser tu destino principal para la adquisición de electrodomésticos de alta calidad que transforman tu hogar en un espacio más eficiente y confortable. Somos más que una tienda; somos tu socio confiable en la búsqueda de soluciones innovadoras para simplificar tu vida diaria. </p>
        <h3>Nuestra Visión</h3>
        <p> En el corazón de EtsiiMarkt está nuestra visión de hacer que la tecnología en el hogar sea accesible para todos. Creemos que cada electrodoméstico no solo debe cumplir su función, sino también elevar tu experiencia diaria. Trabajamos incansablemente para ofrecer productos de vanguardia que se integren perfectamente en tu vida y hogar.</p>
        <h3> Compromiso con la Calidad </h3>
        <p>La calidad es la piedra angular de nuestro compromiso. Colaboramos con los principales fabricantes para garantizar que cada electrodoméstico que ofrecemos cumpla con los estándares más exigentes. Desde la durabilidad hasta el rendimiento, cada producto en EtsiiMarkt está respaldado por nuestra promesa de calidad. </p>
        <h3>Datos de EtsiiMarkt</h3>
        <ul>
        <li> <strong>Año de Fundación:</strong> 2023</li>
        <li> <strong>Misión:</strong> Proporcionar soluciones electrodomésticas innovadoras y de calidad que mejoren la vida diaria de nuestros clientes. </li>
        <li><strong>Productos:</strong> Cocina, Lavandería, Cuidado Personal, Entretenimiento en el Hogar, y más.</li>
        <li> <strong>Marcas Destacadas:</strong> Samsung, Sony, Apple, Fagor, ...</li>
        </ul>
        <h3>Servicio al Cliente </h3>
        <p> Nuestro equipo dedicado está listo para ayudarte en cada paso del proceso de compra mediante nuestro correo electrónico o teléfono que puedes encontrar en la cabecera de nuestra web.</p>
        <h3>Compromiso Ambiental</h3>
        <p> En EtsiiMarkt, también nos preocupamos por el medio ambiente. Trabajamos para ofrecer productos energéticamente eficientes y fomentar prácticas sostenibles en cada aspecto de nuestro negocio. </p>
        <p><strong><em>Gracias por elegir EtsiiMarkt. Estamos emocionados de ser parte de tu hogar y mejorar tu estilo de vida con nuestra gama diversa de electrodomésticos. Descubre la innovación y la comodidad con EtsiiMarkt hoy. </em></strong></p>
    </div>
</div>
{% endblock %}