{% extends "base.html" %}

{% block title %}Listado de Clientes{% endblock %}

{% block content %}

<h2>CLIENTES</h2>
<br/>
<div class="row">
    <div class="col-12">
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Nombre y apellidos</th>
                <th>Dirección</th>
                <th>&nbsp;</th>
            </tr>
    {% for cliente in clientes %}   
        <tr>
            <td>{{ cliente.id }}</td>
            <td><a href="#">{{ cliente.nombre }}</a></td>
            <td>{{ cliente.direccion }}</td>
            <td><i class="bi bi-person-plus-fill"></i> <i class="bi bi-pencil-square"></i> <i class="bi bi-person-x-fill"></i></td>
        </tr>
    {% endfor %}
        </table>
    </div>
</div>


{% endblock %}
