{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<h2>INICIAR SESIÓN</h2>
<div class="row login pt-4 pb-4" style="border: 1px solid var(--bs-gray-300);">
    
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}

        <p class="fw-bold">Si no estás registrado todavía puedes hacerlo desde aquí: <a href="/registro">Nuevo registro.</a></p>
        <button type="submit" class="btn btn-secondary">Iniciar Sesión</button>
    </form>
  

</div>
    {% endblock %}