  <!-- Primera fila con logo y menú principal -->
   
    <div class="container">
      <div class="row bg-dark text-light p-2">
        <div class="col-6"><i class="bi bi-facebook"></i> <i class="bi bi-twitter"></i> <i class="bi bi-instagram"></i></div>   
        <div class="col-6" style="text-align: right">Contacto: <i class="bi bi-telephone"></i> 900 123 456 &nbsp;&nbsp;&nbsp;<i class="bi bi-envelope"></i> contacto@etsiimark.com</div>
    </div>
        <div class="row ">            
            <div class="col-8">
                <!-- Aquí va tu menú principal -->
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="/"><img src="/media/images/logo.png" alt="Logo" class="img-fluid"></a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="home" href="/">Inicio</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/servicios">Servicios</a>
                          </li>                          
                          <li class="nav-item">
                            <a class="nav-link" href="/catalogo">Catálogo de productos</a>
                          </li> 
                          <li class="nav-item">
                            <a class="nav-link" href="/contacto">Contacto</a>
                          </li> 
                          <li class="nav-item">
                            <a class="nav-link" href="/perfil">Clientes</a>
                          </li> 
                        </ul>
                        
                      </div>
                    </div>
                  </nav>
            </div>
            <div class="col-4">                
                <ul class="nav users" style="float: right">
                  <li class="nav-item">
                    <a class="nav-link" href="/productos/carrito"><i class="bi bi-basket"></i></a>
                  </li> 
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/logout"><i class="bi bi-box-arrow-left"></i></a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/perfil"><i class="bi bi-person-circle"></i> {{ user.username }}</a>
                      </li>
                      
                    {% else %}
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/login"><i class="bi bi-person-circle"></i></a>
                      </li>
                    {% endif %}
                                      
                  </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Todas las categorías
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Electrodomésticos</a></li>
                      <li><a class="dropdown-item" href="#">Fotografía</a></li>
                      <li><a class="dropdown-item" href="#">Informática</a></li>
                      <li><a class="dropdown-item" href="#">Juegos y Consolas</a></li>
                      <li><a class="dropdown-item" href="#">Telefonía</a></li>
                      <li><a class="dropdown-item" href="#">Televisión</a></li>
                    </ul>
                  </div>
            </div>
            <div class="col">
                <form class="d-flex" role="search" method="get" action="{% url 'catalogo' %}">
                  <label for="search">Buscar en el catálogo:</label>
                
                    <br>
                  <input class="form-control me-2" type="text" name="q" id="search" value="{{ query }}">
                  <button class="btn btn-secondary" type="submit">BUSCAR</button>
            </form>  
            </div>
        </div>
    </div>