{% extends "basehome.html" %}

{% block title %}ETSIIMarkt{% endblock %}

{% block content %}

<!-- Carrusel -->

<!-- Categorías -->

<!-- publicidad -->

<!-- Listado alatorio de productos-->
<h4>PRODUCTOS DESTACADOS</h4>
<div class="row">
    <div class="col-3">
        <div class="card">
            <img src="/media/productos_imagenes/frigo_siemens.png" class="card-img-top" alt="Frigorífico SIEMENS">
            <div class="card-body">
            <h5 class="card-title">Figrorífico combi</h5>
            <p class="card-text">1.200 &euro;</p>
            <a href="#" class="btn btn-primary">Ver producto</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="/media/productos_imagenes/frigo_siemens.png" class="card-img-top" alt="Frigorífico SIEMENS">
            <div class="card-body">
            <h5 class="card-title">Figrorífico combi</h5>
            <p class="card-text">1.200 &euro;</p>
            <a href="#" class="btn btn-primary">Ver producto</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" >
            <img src="/media/productos_imagenes/frigo_siemens.png" class="card-img-top" alt="Frigorífico SIEMENS">
            <div class="card-body">
            <h5 class="card-title">Figrorífico combi</h5>
            <p class="card-text">1.200 &euro;</p>
            <a href="#" class="btn btn-primary">Ver producto</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" >
            <img src="/media/productos_imagenes/frigo_siemens.png" class="card-img-top" alt="Frigorífico SIEMENS">
            <div class="card-body">
            <h5 class="card-title">Figrorífico combi</h5>
            <p class="card-text">1.200 &euro;</p>
            <a href="#" class="btn btn-primary">Ver producto</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}