<div class="row">
    <div class="flex-shrink-0 p-3 bg-white">      
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <a href="/">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#inicio" aria-expanded="false">
            Inicio
          </button>
        </a>
        </li>
        <li class="mb-1">
          <a href="/catalogo">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
            Productos
          </button>
          </a>
          <!--<div class="collapse show" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="/busqueda/?categoria=Televisi%C3%B3n" class="link-dark rounded">Television</a></li>
              <li><a href="#" class="link-dark rounded">Informática</a></li>
              <li><a href="#" class="link-dark rounded">Electrodomésticos</a></li>
              <li><a href="#" class="link-dark rounded">Juegos y consolas</a></li>
              <li><a href="#" class="link-dark rounded">Telefonía</a></li>
              <li><a href="#" class="link-dark rounded">Fotografía</a></li>
            </ul>
          </div>-->
        </li>
        <li class="mb-1">
          <a href="/nosotros">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
            Quienes somos
          </button>
        </a>
        </li>
        <li class="mb-1">
          <a href="/perfil"><button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
            Área de clientes
          </button></a>
          <div class="collapse show" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              {% if user.is_authenticated %}<li><a href="/perfil" class="link-dark rounded">Mi perfil</a></li> 
              <li><a href="/seguimiento" class="link-dark rounded">Mis pedidos</a></li>
              <li><a href="/pedido/reclamaciones_cliente" class="link-dark rounded">Mis reclamaciones</a></li> 
              <li><a href="/clientes/direccion_envio" class="link-dark rounded">Mi dirección y pago</a></li> 
              {% endif %}
            </ul>
          </div>
        </li>
      </ul>
    </div>    
  </div>



