{% extends "base.html" %}

{% block title %}Catálogo de Productos{% endblock %}

{% block content %}

<div class="col">
    <form class="d-flex" role="search" method="get" action="{% url 'catalogo2' %}">
      <label for="busqueda">Búsqueda avanzada:</label>
      <select name="categoria" id="categoria">
        {% for categoria in categorias %}
            <option  value="{{ categoria.nombre }}" {% if categoria == '{{categoria.nombre}}' %}selected{% endif %}>{{ categoria.nombre }}</option>
        {% endfor %}
      </select>
      <select name="fabricante" id="fabricante">
        {% for fabricante in fabricantes %}
            <option value="{{ fabricante.nombre }}" {% if fabricante == '{{fabricante.nombre}}' %}selected{% endif %}>{{ fabricante.nombre }}</option>
        {% endfor %}
      </select>
      <input class="form-control me-2" type="number" name="precioMin" min="0" id="precioMin" placeholder="Precio Mínimo">
      <input class="form-control me-2" type="number" name="precioMax" min="0" id="precioMax" placeholder="Precio Máximo">
      <br>
      <button class="btn btn-primary" type="submit">Buscar</button>
    </form>  
    
</div>

<div class="row">
  {% for producto in productos %}   
      <div class="col-3">
          <div class="card p-2">
              {% if producto.imagen %}
                  <img class="card-img-top" src="{{producto.imagen.url}}" alt="{{ producto.nombre }}">
              {% endif %}
              <div class="card-body">
              <h5 class="card-title">{{ producto.nombre }}</h5>
              <p class="card-text">{{ producto.precio }} €</p>
              <a href="{% url 'detalle' producto.id %}" class="btn btn-primary">Ver producto</a>
              </div>
          </div>
      </div>
  {% endfor %}
</div>



{% endblock %}





    

