<!DOCTYPE html>
<html>
<head>
    <title>Catálogo de Productos</title>
</head>
<body>
    <h1>Catálogo de Productos</h1>
    <ul>
        {% for producto in productos %}
            <li>
                <strong>{{ producto.nombre }}</strong><br>
                Categoría: {{ producto.categoria }}<br>
                Fabricante: {{ producto.fabricante }}<br>
                Precio: ${{ producto.precio }}<br>
                Descripción: {{ producto.descripcion }}<br>
                Cantidad disponible: {{ producto.cantidad }}<br>
                {% if producto.imagen %}
                <img src="{{MEDIA_URL}}{{ producto.imagen }}">
                {% endif %}
                <hr>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
