{% extends "base.html" %}

{% block title %}Procesar Pago{% endblock %}

{% block content %}

<!-- procesar_pago.html -->
<h2>PASARELA DE PAGO</h2>

    <form action="{% url 'procesar_pedido' %}" method="post" id="payment-form" class="border p-3">
        {% csrf_token %}
        <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad a cobrar: {{pedido.get_total_carrito}}€</label>
            <input type="hidden" name="cantidad" value="{{pedido.get_total_carrito}}" readonly class="form-control">
        </div>
       
        <label for="card-element" class="form-label">Información de la tarjeta de crédito:</label>
        <div id="card-element" class="form-control mb-3">
            <!-- Un elemento para la información de la tarjeta -->
       </div>
        <!-- Utilizado para mostrar errores de Stripe -->
        <div id="card-errors" role="alert" class="stripe-errors"></div>

        <!-- Un campo oculto para enviar el token de Stripe -->
        <input type="hidden" name="stripeToken" id="stripeToken">
        <input name="pedido_id" type="hidden" value="{{pedido.id}}" /> 
        <input type="hidden" name="email"  value="{{email}}" /> 
        <input type="hidden" name="direccion"  value="{{direccion}}" /> 
        <input type="hidden" name="ciudad"  value="{{ciudad}}" /> 
        <input type="hidden" name="postal" value="{{postal}}" />
        <input type="hidden" name="formaPago" value="{{formaPago}}" />
        <input type="hidden" name="pagado" value="tarjeta" />

        <button type="submit" class="btn btn-secondary">Pagar</button>
    </form>

    <script>
        var stripe = Stripe('pk_test_51OJe72EuWRxRJueoJYOkv7WighMdCdzF2uEvKh4kSCSKWAiTGAe9UWPI8hqEFBqZ7amOHaoHRULjCYLLOmj2V5oq00pIBAY3zF');
        
        // Crea un elemento de tarjeta de crédito y monta en el formulario
        var elements = stripe.elements();
        var cardElement = elements.create('card');
        cardElement.mount('#card-element');

        // Maneja los errores de la tarjeta de crédito
        cardElement.on('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        // Maneja la submisión del formulario
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();

            // Crea un token de Stripe cuando el formulario es enviado
            stripe.createToken(cardElement).then(function(result) {
                if (result.error) {
                    // Muestra errores de la tarjeta de crédito
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Inserta el token en el formulario y envía
                    var stripeToken = document.getElementById('stripeToken');
                    stripeToken.value = result.token.id;
                    form.submit();
                }
            });
        });
    </script>


{% endblock %}